body {
 	background:url(/images/bg.jpg);
 	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;
}

.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: rgba(255,255,255,0.9);
    min-height: 500px;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}

.footer-inner {
  background: rgba(255,255,255,0.8);
}